@mixin font-corpo($size:1.1875em) {
    font-size: $size;
    font-weight: 300;
    color: white;
}

@mixin menu-title {
    font-size: 2.25em;
    font-weight: 600;
    color: $color1;
    text-align: center;
}

@mixin center($top:128px){
    margin: $top auto 0 auto;
}

@mixin d($dispositivo){
    @if $dispositivo == l {
        @media only screen and  (min-width: 960px) and (max-width:1366px){
            @content;
        }
    }
    @else if $dispositivo == t {
        @media only screen and  (min-width: 768px) and (max-width:959px){
            @content;
        }
    }@else if $dispositivo == m{
        @media only screen and (max-width:767px){
            @content;
        }
    }
}